<main class="dash-content">
    <div class="container-fluid">
        <h1 class="dash-title">Resumen</h1>
        <div class="row">


<div class="col-lg-4">
    <div class="stats stats-light">
        <h3 class="stats-title"> Empleados </h3>
        <div class="stats-content">
            <div class="stats-icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="stats-data">
                <div class="stats-number">100</div>
               
            </div>
        </div>
    </div>
</div>


<div class="col-lg-4">
    <div class="stats stats-dark">
        <h3 class="stats-title"> Herramientas </h3>
        <div class="stats-content">
            <div class="stats-icon">
                <i class="fas fa-wrench"></i>
            </div>
            <div class="stats-data">
                <div class="stats-number">1000</div>
               
            </div>
        </div>
    </div>
</div>


<div class="col-lg-4">
    <div class="stats stats-secondary">
        <h3 class="stats-title"> Prestamos</h3>
        <div class="stats-content">
            <div class="stats-icon">
                <i class="fas fa-file-alt"></i>
            </div>
            <div class="stats-data">
                <div class="stats-number">500</div>
                
            </div>
        </div>
    </div>
</div>

</div>
</div>
</main>