<div class="row">
    <div class="col-xl-12">
        <div class="card spur-card">
            <div class="card-header">
                <div class="spur-card-icon">
                    <i class="fas fa-address-card"></i>
                </div>
                <div class="spur-card-title"> Registrar Prestamo </div>
            </div>
            <div class="card-body ">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputState">Empleado</label>
                            <select id="inputState" class="form-control">
                                <option selected>Empleado</option>
                                <option>Mark</option>
                                <option>Lucas</option>
                            </select>
                        </div>
                       
                    </div>
                   
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Fecha de Salida</label>
                            <input type="date" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCity">Fecha Entrega</label>
                            <input type="date" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="exampleFormControlTextarea1">Observaciones</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                        </div>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div >